{% extends 'base.html' %}

{% block content %}
<head>
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=0771ef576c9d13b959c1b9f1347f44991">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
</head>

<body>
<script>
        $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
    <form method="POST">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" id="symbol" name="symbol"><br>
        <label for="tracking_price">Tracking Price:</label>
        <input type="number" id="tracking_price" name="tracking_price"><br>
        <label for="num_shares">Number of Shares:</label>
        <input type="number" id="num_shares" name="num_shares"><br>
        <input type="submit" value="Add Stock">
    </form>


<div>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Tracking Price</th>
                <th>Current Price</th>
                <th>Pct Change</th>
                <th>Number of Shares</th>
                <th>Datetime Added</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock['symbol'] }}</td>
                <td>{{ stock['tracking_price'] }}</td>
                <td>{{ stock['current_price'] }}</td>
                <td>{{ stock['percent_change'] }}</td>
                <td>{{ stock['shares'] }}</td>
                <td>{{ stock['datetime_added'] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('stock.delete', id=stock.id) }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}
