<html>
  <head>
    <title>Stock Info</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <form method="POST">
      <label for="stock_symbol">Stock Symbol:</label>
      <input type="text" name="stock_symbol" id="stock_symbol" required>
      <input type="submit" value="submit">
    </form>
    {% if stock_news %}
    <center>
    <table class="table caption-top">
        <h1>{{fundamentals['CompanyName']}}</h1>
        <br>
        <tbody>
          <tr>
            <th>Stock Symbol</th>
            <td>{{fundamentals['StockSymbol']}}</td>
            <th scope="row">Sector</th>
            <td>{{fundamentals['Sector']}}</td>
          </tr>
          <tr>
            <th>Company Name</td>
            <td>{{fundamentals['CompanyName']}}</td>
            <th scope="row">Industry</th>
            <td>{{fundamentals['Industry']}}</td>
          </tr>
          <tr>
            <th>Current Price</th>
            <td>{{current['current_price']}}</td>
            <th scope="row">Market Cap</th>
            <td>{{fundamentals['MarketCap']}}</td>
          </tr>
          <tr>
            <th>Previous Close</th>
            <td>{{current['prev_close']}}</td>
            <th scope="row">PE</th>
            <td>{{fundamentals['PE']}}</td>
          </tr>
          <tr>
            <th>Open</th>
            <td>{{current['open']}}</td>
            <th scope="row">EPS</th>
            <td>{{fundamentals['EPS']}}</td>
          </tr>
          <tr>
            <th scope="row">Volume</th>
            <td>{{current['volume']}}</td>
            <th scope="row">Dividend Per Share</th>
            <td>{{fundamentals['DividendPerShare']}}</td>
          </tr>
          <tr>
            <th scope="row">52 Week High</th>
            <td>{{fundamentals['52WeekHigh']}}</td>
            <th scope="row">Dividend Yield</th>
            <td>{{fundamentals['DividendYield']}}</td>
          </tr>
          <tr>
            <th>52 Week Low</th>
            <td>{{fundamentals['52WeekLow']}}</td>
            <th scope="row">Exchange</th>
            <td>{{fundamentals['Exchange']}}</td>
          </tr>
        </tbody>
    </table>

    <div id="plot"></div>
    <script>
      var ts = [{x: {{stock_ts['X']|tojson}}, y: {{ stock_ts['Y']|tojson}},
        type: 'scatter'
      }];
      var layout = {
        title: 'Closing Price'
      };
      Plotly.newPlot('plot', ts, layout);
    </script>

    <table class="table caption-top">
      <h2>Recently in the News</h2>
      <thead>
        <th scope="row"> Title</th>
        <th scope="row"> Summary</th>
        <th scope="row"> Sentiment</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="{{stock_news[0]['url']}}" target="_blank">{{stock_news[0]['title']}}</a></td>
          <td>{{stock_news[0]['summary']}}</td>
          <td>{{stock_news[0]['sentiment']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[1]['url']}}" target="_blank">{{stock_news[1]['title']}}</a></td>
          <td>{{stock_news[1]['summary']}}</td>
          <td>{{stock_news[1]['sentiment']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[2]['url']}}" target="_blank">{{stock_news[2]['title']}}</a></td>
          <td>{{stock_news[2]['summary']}}</td>
          <td>{{stock_news[2]['sentiment']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[3]['url']}}" target="_blank">{{stock_news[3]['title']}}</a></td>
          <td>{{stock_news[3]['summary']}}</td>
          <td>{{stock_news[3]['sentiment']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[4]['url']}}" target="_blank">{{stock_news[4]['title']}}</a></td>
          <td>{{stock_news[4]['summary']}}</td>
          <td>{{stock_news[4]['sentiment']}}</td>
        </tr>
      </tbody>
    </table>
    </center>
    {% else %}
    {% endif %}
  </body>
</html>